.faqWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faqContainer {
  max-width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.faq_category {
  font-size: 16px;
  font-weight: 600;
  color: #2aa7ff;
}
.faq_heading {
  font-size: 48px;
  font-weight: 600;
  color: #1b3c74;
}
.faq_accordion {
  height: 499.84px;
}
.icon .MuiSvgIcon-root {
  color: #2aa7ff;
}

@media screen and (max-width: 768px) {
  .faqContainer {
    flex-direction: column;
  }
  .faq_heading {
    font-size: 28px;
  }

  .faq_accordion {
    max-width: 90%;
  }
}
@media screen and (max-width: 601px) {
  .faqWrapper {
    gap: 20px;
  }
  .faqImage {
    display: none;
  }
}
