.faqWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faqContainer {
  width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq_category {
  font-size: 16px;
  font-weight: 600;
  color: #2aa7ff;
}
.faq_heading {
  font-size: 48px;
  font-weight: 600;
  color: #1b3c74;
}
.faq_accordion {
  width: 484px;
  height: 499.84px;
}
.icon .MuiSvgIcon-root {
  color: #2aa7ff;
}
