.specializedContainer {
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.title {
  text-align: center;
  color: #1b3c74;
  font-size: 48px;
  font-weight: 600;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 50px;
}
