.searchFormContainer {
  max-width: 1170px;
  /* min-height: 429px; */
  background: #fff;
  box-shadow: 6px 6px 35px 0px #1028511c;
  border-radius: 15px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 50px;

  position: relative;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
}
.content {
  text-align: center;
  color: #102851;
  font-size: 20px;
  font-weight: 500;
  letter-spaceing: 2%;
}

@media (max-width: 768px) {
  .searchFormContainer {
    width: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
  }
}

.searchPanel {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.content {
  text-align: center;
  color: #102851;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.inputFieldContainer {
  width: 285px;
  height: 46px;

  display: flex;
  align-items: center;

  background: #fafbfe;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
}
.inputFieldContainer > img {
  padding-left: 10px;
}
select {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  background: transparent;
  color: #abb6c7;
}
option {
  color: #abb6c7;
}
