.navigationItemsContainer {
  width: 912px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigationItemsContainer a {
  text-decoration: none;
  color: #102851;
}

.navigationItemsContainer.vertical {
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
