.newsContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news_category {
  font-size: 16px;
  font-weight: 600;
  color: #2aa7ff;
}
.news_heading {
  font-size: 48px;
  font-weight: 600;
  color: #1b3c74;
}
.news_cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

@media screen and (max-width: 1158px) {
  .news_heading {
    font-size: 28px;
  }

  .news_cards {
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
}
